<ngx-manejo-entrada-toolbar
  labelRightButton="Adicionar"
  title="Manejos de Entrada"
  navigate="../create"
></ngx-manejo-entrada-toolbar>

<nb-card>
  <nb-card-body>
    <ngx-manejo-entrada-index-list-table></ngx-manejo-entrada-index-list-table>
  </nb-card-body>
</nb-card>

<!--<div class="row">-->
<!--  <div class="col-md-12">-->
<!--    <nb-card>-->
<!--      <nb-card-header>Entrada Animal</nb-card-header>-->
<!--      <nb-card-body>-->
<!--        <div class="row">-->
<!--          <div class="col-md-3">-->
<!--            <input type="text" nbInput fullWidth placeholder="Código Operação">-->
<!--          </div>-->
<!--          <div class="col-md-9">-->
<!--            <input type="text" nbInput fullWidth placeholder="Operação">-->
<!--          </div>-->
<!--        </div>-->
<!--      </nb-card-body>-->
<!--    </nb-card>-->
<!--  </div>-->
<!--</div>-->
