<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        <div class="subtitle"> Quantidade de Animais</div>
        <h3>{{quantidadeAnimais}}</h3>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        <div class="subtitle"> Quantidade Pendente</div>
        <h3>{{quantidadePendente}}</h3>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6">
    <nb-card>
      <nb-card-body>
        <div class="subtitle">Macho</div>
        <h3>{{macho}}</h3>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6">
    <nb-card>
      <nb-card-body>
        <div class="subtitle">Fêmea</div>
        <h3>{{femea}}</h3>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-body>
        <div class="subtitle">Peso Total</div>
        <h3>{{pesoTotal}}</h3>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6">
    <nb-card>
      <nb-card-body>
        <div class="subtitle">Peso Medio</div>
        <h3>{{pesoTotal / quantidadeAnimais}}</h3>
      </nb-card-body>
    </nb-card>
  </div>
</div>
